.square {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square:hover {
  background-color: rgb(163, 96, 19);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.selected {
  background-color: rgb(163, 96, 19);
}

.light {
  background-color: rgb(229, 234, 179);
}

.dark {
  background-color: rgb(28, 133, 18);
}
